= content_for :title, 'Editing profile'

= form_for @user do |f|
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.email_field :email

  .field
    = f.label :admin
    = f.check_box :admin

  .submit
    = f.submit 'Save'
