= form_for @patient, html: { multipart: true } do |f|
  .field
    = f.label :firstname
    = f.text_field :firstname

    = f.label :lastname
    = f.text_field :lastname

    = f.label :sex
    = f.text_field :sex

    = f.label :date_of_birth
    = f.text_field :date_of_birth

    = f.label :date_of_death
    = f.text_field :date_of_death

    = f.label :kidzcan_number
    = f.text_field :kidzcan_number

    = f.label :kidzcan_registration
    = f.text_field :kidzcan_registration

    = f.label :diagnosis
    = f.text_area :diagnosis

    = f.label :point_of_contact
    = f.text_area :point_of_contact

    = f.label :mobile_number
    = f.text_area :mobile_number


  .submit
    = f.submit 'Save'

