= form_for @patient, html: { multipart: true } do |f|
  .field
    = f.label :firstname
    = f.text_field :firstname

    = f.label :lastname
    = f.text_field :lastname

    = f.label :sex
    = select(:patient, :sex, options_for_select([["Male", "M"], ["Female", "F"]]))

    = f.label :date_of_birth
    = f.date_field :date_of_birth

    = f.label :date_of_death
    = f.date_field :date_of_death

    = f.label :kidzcan_number
    = f.text_field :kidzcan_number

    = f.label :kidzcan_registration
    = f.text_field :kidzcan_registration

    = f.label :diagnosis
    = f.text_area :diagnosis

    = f.label :point_of_contact
    = f.text_area :point_of_contact

    = f.label :mobile_number
    = f.text_field :mobile_number

    = fields_for :address, @address do |a|
      .field
        = a.label :street1, 'Street'
        = a.text_field :street1

      .fields
        .field.one-third
          = a.label :suburb
          = a.text_field :suburb

        .field.one-third
          = a.label :state
          = a.text_field :state

        .field.one-third
          = a.label :country
          = a.text_field :country

  .submit
    = f.submit 'Save'

