= content_for :title, 'Patients'
= content_for :title_icon, 'icon-spreadsheet'

- if can? :create, Patient
  = content_for :actions do
    = link_to 'New patient', new_resource_path, class: 'button icon-plus'
    = link_to 'Export to CSV', csv_patients_path, class: 'button'

