= render 'patients/header'

= form_tag patients_path, method: 'get' do |f|
  = search_field_tag :q, params[:q], autofocus: true, placeholder: 'Search'

- if @patients.any?
  %table
    %thead
      %tr
        %th Last Name
        %th First Name
        %th Actions


    - @patients.each do |patient|
      %tr
        %td= patient.firstname
        %td= patient.lastname
        %td
          = link_to 'show', patient_path(patient), class: 'button'
          = link_to 'edit', edit_patient_path(patient), class: 'button'

- else
  %p There are no resources in this category.
