.container
  = link_to image_tag('logo.png'), user_signed_in? ? patients_path : root_path, class: 'logo', title: 'Kidzcan Zim'

  %hgroup.user-actions
    - if user_signed_in?
      .label
        - if current_user.image_url
          = image_tag current_user.image_url, class: "avatar", alt: current_user
        - else
          = gravatar_image_tag current_user.email.downcase, alt: current_user, class: "avatar"
        = content_tag(:span, current_user)

        .dropdown
          = link_to "My Profile", edit_user_path(current_user), title: current_user.name
          = link_to "Sign Out", destroy_user_session_path, method: :delete

    - else
      %label Sign in:
      = link_to "Email", new_user_session_path
